In [4]:
import pandas as pd
import requests
import time
import random

In [27]:
#requesting the mfers collection overview

In [10]:
url= 'https://api.opensea.io/api/v1/collection/mfers'
params= {
    'collection_slug': 'mfers'
}

res= requests.get(url)
res.status_code

200

In [20]:
summary = res.json()['collection']['stats']
summary

{'one_day_volume': 72.97799000000003,
 'one_day_change': -0.33350512168569896,
 'one_day_sales': 105.0,
 'one_day_average_price': 0.6950284761904765,
 'seven_day_volume': 1167.1222224000205,
 'seven_day_change': 2.7565350248977643,
 'seven_day_sales': 1599.0,
 'seven_day_average_price': 0.7299075812382868,
 'thirty_day_volume': 2165.5117054462253,
 'thirty_day_change': 2.9599979529515177,
 'thirty_day_sales': 4602.0,
 'thirty_day_average_price': 0.4705588234346426,
 'total_volume': 4846.713924830485,
 'total_sales': 14047.0,
 'total_supply': 10021.0,
 'count': 10021.0,
 'num_owners': 4769,
 'average_price': 0.345035518248059,
 'num_reports': 3,
 'market_cap': 7314.403871588872,
 'floor_price': 0.58}

In [29]:
collection = pd.DataFrame(summary, index=['mfers']).T
collection

                                 mfers
one_day_volume               72.977990
one_day_change               -0.333505
one_day_sales               105.000000
one_day_average_price         0.695028
seven_day_volume           1167.122222
seven_day_change              2.756535
seven_day_sales            1599.000000
seven_day_average_price       0.729908
thirty_day_volume          2165.511705
thirty_day_change             2.959998
thirty_day_sales           4602.000000
thirty_day_average_price      0.470559
total_volume               4846.713925
total_sales               14047.000000
total_supply              10021.000000
count                     10021.000000
num_owners                 4769.000000
average_price                 0.345036
num_reports                   3.000000
market_cap                 7314.403872
floor_price                   0.580000

In [61]:
#mini df's for each trait and breakdown across collection

In [46]:
pd.DataFrame(res.json()['collection']['traits']['1/1'], index=['1/1'])

,beep mfer,bored mfer,cdb mfer,comic mfer,cool mfer,fidenz mfer,gang mfer,glyph mfer,gutter mfer,loot'n mfer,...,moon mfer,nakamoto mfer,noun mfer,peaceful mfer,pop mfer,punk mfer,ring mfer,squiggly mfer,toad mfer,xmfer
1/1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [39]:
pd.DataFrame(res.json()['collection']['traits']['4:20 watch'], index=['watch'])

,argo black,argo white,oyster gold,oyster silver,sub bat (blue/black),sub black,sub blue,sub cola (blue/red),sub lantern (green),sub red,sub rose,sub turquoise
watch,325,82,518,1006,100,1954,761,83,555,1459,320,472

In [48]:
pd.DataFrame(res.json()['collection']['traits']['background'], index=['background'])

            blue  graveyard  green  orange   red  space  tree  yellow
background  2075         89   1974    2023  1846      9    28    1956

In [49]:
pd.DataFrame(res.json()['collection']['traits']['beard'], index=['beard'])

       full beard
beard        1036

In [50]:
pd.DataFrame(res.json()['collection']['traits']['chain'], index=['chain'])

       gold chain  silver chain
chain          95           395

In [51]:
pd.DataFrame(res.json()['collection']['traits']['eyes'], index=['eyes'])

,3d glasses,alien eyes,eye mask,nerd glasses,purple shades,regular eyes,shades,vr,zombie eyes
eyes,327,9,293,613,547,7254,526,342,89

In [52]:
pd.DataFrame(res.json()['collection']['traits']['headphones'], index=['headphones'])

,black headphones,blue headphones,gold headphones,green headphones,lined headphones,pink headphones,red headphones,white headphones
headphones,3949,532,274,879,115,1040,732,2421

In [53]:
pd.DataFrame(res.json()['collection']['traits']['long hair'], index=['long hair'])

           long hair black  long hair yellow
long hair             1839               752

In [54]:
pd.DataFrame(res.json()['collection']['traits']['mouth'], index=['mouth'])

       flat  smile
mouth  2064   7936

In [55]:
pd.DataFrame(res.json()['collection']['traits']['shirt'], index=['shirt'])

,collared shirt blue,collared shirt green,collared shirt pink,collared shirt turquoise,collared shirt white,collared shirt yellow,hoodie down blue,hoodie down gray,hoodie down green,hoodie down pink,hoodie down red,hoodie down white
shirt,565,326,361,215,675,97,425,611,302,192,94,551

In [56]:
pd.DataFrame(res.json()['collection']['traits']['short hair'], index=['short hair'])

,messy black,messy purple,messy red,messy yellow,mohawk black,mohawk blue,mohawk green,mohawk pink,mohawk purple,mohawk red,mohawk yellow
short hair,68,152,199,172,348,224,221,74,76,17,272

In [57]:
pd.DataFrame(res.json()['collection']['traits']['smoke'], index=['smoke'])

       cig black  cig white  pipe
smoke       3810       3735   747

In [58]:
pd.DataFrame(res.json()['collection']['traits']['type'], index=['type'])

      alien mfer  ape mfer  charcoal mfer  plain mfer  zombie mfer
type           9        28           3958        5916           89

In [59]:
pd.DataFrame(res.json()['collection']['traits']['hat over headphones'], index=['hat over headphones'])

                     cowboy hat  hoodie  pilot helmet  top hat
hat over headphones         146     143            58      119

In [60]:
pd.DataFrame(res.json()['collection']['traits']['hat under headphones'], index=['hat under headphones'])

,bandana blue,bandana dark gray,bandana red,beanie,beanie monochrome,cap monochrome,cap purple,headband blue/green,headband blue/red,headband blue/white,...,knit buffalo,knit chicago,knit cleveland,knit dallas,knit kc,knit las vegas,knit miami,knit new york,knit pittsburgh,knit san fran
hat under headphones,109,319,208,41,82,190,101,135,46,208,...,89,124,120,97,86,84,88,108,103,104